{% extends "base.html" %}

{% block content %}
<h1>Профиль</h1>
<form action="" method="post" enctype="multipart/form-data" class="file_form">
    {% if is_mentor %}
        <h2>Наставник</h2>
        <p>
            <a type="submit" name="popup-button" href="/add_task/"> Создать практическую задачу </a>
        </p>
        <p>
            <a type="submit" name="popup-button" href="/add_theory/"> Создать теоритический материал </a>
        </p>
    {% endif %}
    {% if not is_mentor %}
    <h2>Ученик</h2>
        <p>
            <a type="submit" name="popup-button" href="/tasks/"> Список заданий и материалов </a>
        </p>
    {% endif %}
    <p>
        <a type="submit" name="popup-button" href="/login/"> Сменить пользователя </a>
    </p>


</form>
{% endblock %}