{% extends "base.html" %}

{% block content %}
<h1>Задания</h1>
<form action="" method="post">
    <p>
        Теоритический материал:
        <ol>
        {% for task in theory_list %}
            <li>
                <h5>{{ task.title }}</h5>
                <p>
                    {{ task.content }}
                </p>
                <a type="submit" name="popup-button" href={{task.path}}> Ознакомиться </a>
                <br>
            </li>
        {% endfor %}
        </ol>
    </p>

    <p>
        Практические задачи:
        <ol>
        {% for task in task_list %}
            <li>
                <h5>{{ task.title }}</h5>
                <p>
                    {{ task.content }}
                </p>
                <a type="submit" name="popup-button" href={{task.path}}> Приступить </a>
                <br>
            </li>
        {% endfor %}
        </ol>
    </p>

</form>
{% endblock %}